nav ul li {
	display: inline-block;
	height: 30px;
	margin: 0 12px;
}
.nav-top {
	text-align: right;
	margin: 16px 30px;
}
#gmail, #images {
	font: 13px arial;
}
#apps {
	width: 30px;
	opacity: .55;
	background: white url('http://ssl.gstatic.com/gb/images/i1_1967ca6a.png') -132px -38px/528px 68px;
	vertical-align: middle;
}
#apps:hover {
	opacity: 1;
}
#sign-in {
	height: 28px;
	color: white;
	width: 71px;
	font: bold 13px arial;
	background-color: #4486f8;
	border-radius: 2px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #4285f4;
}
#google-logo {
	display: block;
	margin: auto;
}
.search-input {
	margin: auto;
	width: 584px;
	height: 38px;
	border: 1px solid #d9d9d9;
}
.search-input:hover {
	border: 1px solid #b9b9b9;
}
#search-input {
	width: 525px;
	height: 26px;
	border: none;

}
.nav-bot {
	font: 13px arial;
	position: relative;
}
.nav-bot-left, .nav-bot-right {
	display: inline-block;
}
.nav-bot-right {
	position: absolute;
	right: 0;
}